
@{
    ViewBag.Title = "Contact";
}

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Contact
        <strong>Mary Frey</strong>
    </h2>
    <hr class="divider">
    <div class="row">

        <div class="col-md-4 text-center">
            <h5 class="mb-0">Phone:</h5>
            <div class="mb-4"><a href="tel:+01.816.838.0297">816.838.0297</a></div>
        </div>
        <div class="col-md-4">
            <h5 class="mb-0">Email:</h5>
            <div class="mb-4">
                <a href="mailto:mfrey2011@gmail.com">mfrey2011@gmail.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="mb-0">LinkedIn:</h5>
            <div class="mb-4">
                https://www.linkedin.com/in/maryafrey/
            </div>
        </div>
    </div>
</div>
<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Contact
        <strong>Form</strong>
    </h2>
    <hr class="divider">
    <form>
        <div class="row">
            <div class="form-group col-lg-4">
                <label class="text-heading">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
                <label class="text-heading">Email Address</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group col-lg-4">
                <label class="text-heading">Phone Number</label>
                <input type="tel" class="form-control">
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-lg-12">
                <label class="text-heading">Message</label>
                <textarea class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
    </div>

