
@{
    ViewBag.Title = "Projects";
}
<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Personal
        <strong>Projects</strong>
    </h2>    
    <hr class="divider">
    <p class="text-center">This page will be under constant construction as my projects are also always being built and improved!</p>
</div>
<div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
        <img class="card-img img-fluid w-100" src="~/Content/Images/atm.png" alt="">
        <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">ATM App</h2>
            <h4 class="text-shadow text-white">Aug 25, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">
                Built during the first week of classes, this
                simple application is built using C#. The application mimics the functionality of an actual atm, wherein a user inputs the
                correct Acct Number and PIN and can then view their account, deposit or withdraw money, as well as see a running balance with each transaction.
            </p>
            <a href="https://youtu.be/NtKaIXPwrmI" data-lity class="btn btn-secondary">Watch it in Action!</a>
        </div>
    </div>
</div>
<div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
        <img class="card-img img-fluid w-100" src="~/Content/Images/dungeoncapture-min.PNG" />
        <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Dungeon App</h2>
            <h4 class="text-shadow text-white">Sept 1, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">
                Do you love retro games? Check out my Dungeon application!<br /> This simple application was built in C# and utilizes custom classes and methods.
            </p>
            <a href="https://youtu.be/Og7N8m_hRlY" data-lity class="btn btn-secondary">Watch it in Action!</a>
        </div>
    </div>
</div>

<div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
        <img class="card-img img-fluid w-100" src="~/Content/Images/HCLogo943x372.png" alt="">
        <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">uStore - HomespunClassics</h2>
            <h4 class="text-shadow text-white">Oct 1, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">
                HomespunClassics is the name of my uStore a personal project built around items that I already sell on Etsy.
                It currently only has the functionality to add items to the cart. The next update (pending database deployment) will have
                identity and integrated databases. This project is constantly updated as new skills are learned in the course.
            </p>
            <a href="http://ustore.homespundev.com" class="btn btn-secondary">View</a>
        </div>
    </div>
</div>

<div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
        <img class="card-img img-fluid w-100" src="~/Content/Images/Converter.png" alt="">
        <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Digital Currency Converter</h2>
            <h4 class="text-shadow text-white">Oct 23, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">
                Built utilizing pair programming and C#, this application mimics an online converter and allows
                a user to purchase, sell, and convert BitCoin, LiteCoin, and Ethyrium.
            </p>
            <a href="https://youtu.be/45SQeWjnvHw" data-lity class="btn btn-secondary">Watch it in Action!</a>
        </div>
    </div>
</div>
<div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
        <img class="card-img img-fluid w-100" src="~/Content/Images/superhero.png" alt="">
        <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">SuperHero, Inc.</h2>
            <h4 class="text-shadow text-white">October 26, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">
                My first full stack web application built following a project brief.
                It includes identity, an integrated database for heroes, villains, and courses, as well as the ability to sign up for courses.
                (Although the site is published, it is pending database deployment)
            </p>
            <a href="http://hero.homespundev.com" class="btn btn-secondary">View</a>
        </div>
    </div>
</div>

@*<div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
            <img class="card-img img-fluid w-100" src="img/slide-3.jpg" alt="">
            <div class="card-img-overlay bg-overlay">
                <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
                <h4 class="text-shadow text-white">March 1, 2017</h4>
                <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
                <a href="#" class="btn btn-secondary">Read More</a>
            </div>
        </div>
    </div>*@
<!-- Pagination -->
@*<div class="bg-faded p-4 my-4">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>
    </div>*@

</div>